/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

#top .social a {
    position: relative;  
    margin-left: 10px;  
}

.owl-carousel img {
    border-radius: 6px;
}

a.navbar-brand img {
    max-height: 100px;
    position: relative;
    bottom: 21px;
}

@media (max-width: 767px) {
    a.navbar-brand img {
    max-height: 60px;
    position: relative;
    bottom: 10px;
    }
}

#footer {
    background: #467fbf;
    color: #ffffff;
}

#top {
    background: lightskyblue;
}

#top .social a {
    color: #467fbf;
}

/* .bar.background-pentagon { */
/*     background: */
/* 	radial-gradient(circle farthest-side at 0% 50%,#467fbf 23.5%,#0000 0)33.6px 48px, */
/* 	radial-gradient(circle farthest-side at 0% 50%,#47d3ff 24%,#0000 0)30.4px 48px, */
/* 	linear-gradient(#467fbf 14%,#0000 0, #0000 85%,#467fbf 0)0 0, */
/* 	linear-gradient(150deg,#467fbf 24%,#47d3ff 0,#47d3ff 26%,#0000 0,#0000 74%,#47d3ff 0,#47d3ff 76%,#467fbf 0)0 0, */
/* 	linear-gradient(30deg,#467fbf 24%,#47d3ff 0,#47d3ff 26%,#0000 0,#0000 74%,#47d3ff 0,#47d3ff 76%,#467fbf 0)0 0, */
/* 	linear-gradient(90deg,#47d3ff 2%,#467fbf 0,#467fbf 98%,#47d3ff 0%)0 0 #467fbf; */
/*     background-size: 64px 96px; */
/*     background-color: #467fbf;    border-top: solid 1px #999999; */
/*     border-bottom: solid 1px #999999; */
/* } */

#heading-breadcrumbs {
    background: lightblue;
    padding: 20px 0;
    margin-bottom: 40px;
}

